
li {
  font-family: Assistant;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 31px;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.Course_card {

/* border: 2px solid #263040; */
/* height: 700px; */

}

.card_html {
width: 200px;
height: 420px;
/* border: 2px solid red; */
margin-top: 70px;
margin-left: 20px;
background-color: #263040;
border-radius: 5px;
z-index: 3;
}

.course_image {
  height: 150px;
  z-index: 3;
  /* border: 2px solid black; */
}


/*  */
.style_image{
  /* border: 2px solid red; */
  margin-top: -10px;
  width: 50%;
  float: right;
  margin-left: 10px;
}
.style_image li {
  list-style: none;
  margin-top: 6px;
}

.style_image img {
  width: 50px;
  height: 50px;
    margin-left: 5px;
}

.desc_desc {
  /* border: 2px solid red; */
    width: 50%;
}
.desc_desc ul{
  list-style: none;
  position: relative;
  margin-top: 20px;
  left: 80px;
}

.desc_desc  li{
  margin-top: 30px;
}


.start button {
  background: linear-gradient(270deg, #00E6C3 0%, #31F78B 143%);
  border-radius: 5px;
  width: 100px;
  height: 45px;

  font-family: Assistant;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.02em;
  padding-left: 20px;
  color: #263040;
  margin-left: 45px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}



.start button:hover {
  box-shadow: 0 14px 28px rgba(0,230,195,0.25), 0 10px 10px rgba(0,230,195,0.24);
}




.course_img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}
/*  */




.card_html {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card_html:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* Zoom In #1 */
.course_image figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .9s ease-in-out;
	transition: .9s ease-in-out;
}
.course_image figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


figure {
	overflow: hidden;
}


.logo_course {
  margin-top: 80px;
  margin-left: 35%;
}

.logo_course h2 {
  font-family: Assistant;
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 94px;
display: flex;
align-items: center;
letter-spacing: 0.02em;
position: relative;
top: 30px;
color: #00E6C3;

text-shadow: 10px 8px 8px rgba(0, 0, 0, 0.5);
}

.background_color {



max-width: 1420px;
z-index: 2;
 background-color: rgba(24, 24, 25, 0.5);

border-radius: 20px;
}

.backround_image {
  background-image: url('../../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 20px;
  z-index: 1;
}
